Package: linuxtoys
Architecture: amd64
Version: 1.0
Section: utils
Priority: optional
Maintainer: psygreg
Description: A set of tools for Linux presented in a user-friendly way.
 .
 A menu with various handy tools for Linux gaming, optimization and other tweaks.
Pre-Depends: whiptail, curl, wget, git
