*.build
*.buildinfo
*.changes
*.upload
*.dsc
*.substvars
debhelper-build-stamp

src/buildfiles/deb/linuxtoys/DEBIAN/opt
src/buildfiles/deb/linuxtoys/DEBIAN/usr
src/buildfiles/deb/linuxtoys/DEBIAN/.debhelper
src/buildfiles/deb/linuxtoys/DEBIAN/linuxtoys
src/buildfiles/deb/*.deb

src/buildfiles/rpm/rpmbuild/BUILD/
src/buildfiles/rpm/rpmbuild/RPMS/
src/buildfiles/rpm/rpmbuild/SOURCES/
src/buildfiles/rpm/linuxtoys-*/

src/buildfiles/pkgbuild/linuxtoys-*/bin/*
src/buildfiles/pkgbuild/pkg
src/buildfiles/pkgbuild/src

