####### Build #######

# General build files
*.build
*.buildinfo
*.changes
*.upload
*.dsc
*.substvars
debhelper-build-stamp

# Debian build files
/src/buildfiles/deb/linuxtoys-*/debian/.debhelper
/src/buildfiles/deb/linuxtoys/DEBIAN/linuxtoys
/src/buildfiles/deb/*.deb

# Red Hat build files
/src/buildfiles/rpm/rpmbuild/x86_64/linuxtoys*
/src/buildfiles/rpm/rpmbuild/BUILD/
/src/buildfiles/rpm/rpmbuild/RPMS
/src/buildfiles/rpm/rpmbuild/SRPMS
/src/buildfiles/rpm/rpmbuild/SOURCES/

# Arch build files
/src/buildfiles/pkgbuild/linuxtoys-*/bin/*
/src/buildfiles/pkgbuild/pkg
/src/buildfiles/pkgbuild/src
/src/buildfiles/pkgbuild/linuxtoys-*.tar.*

# AppImage build files
/appimagebuild/LinuxToys.AppDir/etc/*
/appimagebuild/LinuxToys.AppDir/usr/lib64/*
/appimagebuild/LinuxToys.AppDir/usr/bin/*
/LinuxToys_-x86_64*