.script-item {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
.script-item-hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;
}

.script-item-new {
    border: 1px solid rgba(255, 215, 0, 0.9);
    border-radius: 10px;
}

.installed-card {
    border-radius: 10px;
}
.installed-card-hover {
    border-radius: 0 10px 10px 0;
}
.installed-card-remove {
    border-radius: 0 10px 10px 0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

button.installed-card-remove,
button.installed-card-remove:hover,
button.installed-card-remove:active {
    border-radius: 0 10px 10px 0;
}

.item-subcategory {
    background-image: url('icons/jigsaw.svg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
}
flowboxchild:selected {
    border-radius: 10px;
}

paned > separator {
    min-width: 15px;  /* For horizontal paned */
    min-height: 15px; /* For vertical paned */
    background-color: transparent; /* Makes it look like empty padding */
}

modelbutton image {
    margin-right: 3px;
}

checkbutton image {
    margin-right: 3px;
}

button.installed-card-remove-left,
button.installed-card-remove-left:hover,
button.installed-card-remove-left:active {
    border-radius: 9px 0 0 9px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

button.installed-card-remove-left {
    border-right: 1px solid rgba(255,255,255,0.30);
}

button.installed-card-remove-left:hover {
    border-left-color: rgba(234, 178, 178, 0.535);
}