[Desktop Entry]
Name=LinuxToys 
Type=Application
Exec=/usr/bin/linuxtoys.sh
Terminal=true
Icon=/usr/bin/linuxtoys.png
Comment=A set of tools for Linux presented in a user-friendly way
NoDisplay=false
Categories=Development