[Unit]
Description=LinuxToys Update Trigger
Wants=linuxtoys-update-user.service

[Timer]
OnBootSec=15min
OnUnitActiveSec=3d
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target