[Unit]
Description=LinuxToys Update Service
After=network.target

[Service]
User=@USER@
Type=oneshot
ExecStart=/usr/bin/env EASY_CLI=1 UPD_SERVICE=1 linuxtoys
