[Desktop Entry]
Name=LinuxToys 
Type=Application
Exec=linuxtoys
Terminal=true
Icon=linuxtoys
Comment=A set of tools for Linux presented in a user-friendly way
NoDisplay=false
Categories=Development
