[Desktop Entry]
Name=LinuxToys
Type=Application
Exec=/usr/bin/linuxtoys %U
Terminal=false
Icon=linuxtoys
Comment=For everything Linux.
Comment[en]=For everything Linux.
Comment[pt]=Pra tudo no Linux.
Comment[es]=Para todo lo relacionado con Linux.
Comment[de]=Für alles rund um Linux.
Comment[fr]=Pour tout ce qui concerne Linux.
Comment[it]=Per tutto ciò che riguarda Linux.
Comment[pl]=Do wszystkiego związanego z Linuksem.
Comment[he]=לכל מה שקשור ל-Linux.
Comment[ar]=لكل ما يتعلق بـ Linux.
Comment[ru]=Для всего, что связано с Linux.
Comment[zh]=满足你对 Linux 的一切需求。
Comment[ja]=Linux のすべてに。
Comment[hi]=Linux से जुड़ी हर चीज़ के लिए।
Comment[tr]=Linux ile ilgili her şey için.
Comment[id]=Untuk segala hal tentang Linux.
Comment[ko]=Linux의 모든 것을 위해.
Comment[vi]=Cho mọi thứ về Linux.
Comment[tl]=Para sa lahat ng tungkol sa Linux.
Comment[bn]=Linux-এর সবকিছুর জন্য।
Comment[ur]=Linux سے متعلق ہر چیز کے لیے۔
Comment[th]=สำหรับทุกสิ่งเกี่ยวกับ Linux
Comment[sw]=Kwa kila kitu kuhusu Linux.
Comment[fa]=برای هر چیزی دربارهٔ Linux.
Comment[nl]=Voor alles rond Linux.
Comment[am]=ለሁሉም ነገር Linux።
Comment[cs]=Pro všechno kolem Linuxu.
Comment[sv]=För allt som rör Linux.
Comment[fi]=Kaikkeen Linuxiin liittyvään.
Comment[ms]=Untuk segala-galanya tentang Linux.
Comment[ta]=Linux தொடர்பான அனைத்திற்கும்.
Comment[uk]=Для всього, що пов’язано з Linux.
Comment[el]=Για όλα όσα αφορούν το Linux.
Comment[bg]=За всичко, свързано с Linux.
Comment[bs]=Za sve što se tiče Linuxa.
Comment[da]=Til alt om Linux.
Comment[hr]=Za sve vezano uz Linux.
Comment[hu]=Mindenhez, ami Linux.
Comment[is]=Fyrir allt sem tengist Linux.
Comment[no]=For alt som har med Linux å gjøre.
Comment[sk]=Na všetko okolo Linuxu.
Comment[sl]=Za vse, kar je povezano z Linuxom.
Comment[sr]=За све што се тиче Linux-а.
Comment[nb]=For alt som har med Linux å gjøre.
Comment[ro]=Pentru tot ce ține de Linux.
Comment[lt]=Viskam, kas susiję su Linux.
Comment[lv]=Visam, kas saistīts ar Linux.
Comment[et]=Kõigeks, mis puudutab Linuxit.
Comment[ga]=Do gach rud a bhaineann le Linux.
Comment[az]=Linux ilə bağlı hər şey üçün.
Comment[hy]=Linux-ի հետ կապված ամեն ինչի համար։
Comment[ka]=ყველაფრისთვის, რაც Linux-ს ეხება.
Comment[km]=សម្រាប់អ្វីៗគ្រប់យ៉ាងអំពី Linux។
Comment[lo]=ສຳລັບທຸກຢ່າງກ່ຽວກັບ Linux.
Comment[mn]=Linux-тэй холбоотой бүх зүйлд.
Comment[ne]=Linux सम्बन्धी सबै कुराका लागि।
Comment[my]=Linux နှင့်ပတ်သက်သမျှအတွက်။
Comment[sq]=Për gjithçka rreth Linux-it.
Comment[tg]=Барои ҳама чиз вобаста ба Linux.
Comment[uz]=Linux bilan bog‘liq hamma narsa uchun.
NoDisplay=false
Categories=System;
MimeType=x-scheme-handler/linuxtoys;application/vnd.debian.binary-package;application/x-rpm;application/x-arch-package;application/vnd.flatpak;application/vnd.flatpak.ref;application/vnd.snap;application/vnd.appimage;application/x-appimage;application/x-iso9660-appimage;application/x-eopkg;
StartupNotify=true
StartupWMClass=linuxtoys.py
